//background paginas
.fundo-paginas{
    background-image: url("https://cloud.illimitar.com.br/apps/files_sharing/publicpreview/img-ids?file=/bg-pagina-inicio.png&fileId=963369&x=1920&y=1080&a=true"); 
    background-color:rgba($color: #F5F9FF, $alpha: 0.8);
    background-size: cover;  
    background-blend-mode: lighten; 
}
.bg-toolbar{
    background: rgba(245, 249, 255, 0.6);
    backdrop-filter: blur(4px);
}
    //ipv   
    .ipvbg{background:$ipv;}
    .ipvtx{color:$ipv;}
    //ipv100
    .ipv-100bg{background:$ipv-100;}
    .ipv-100tx{color:$ipv-100;}
    //ipv200
    .ipv-200bg{background:$ipv-200;}
    .ipv-200tx{color:$ipv-200;}
    //ipv400
    .ipv-400bg{background:$ipv-400;}
    .ipv-400tx{color:$ipv-400;}
    //ipv600
    .ipv-600bg{background:$ipv-600;}
    .ipv-600tx{color:$ipv-600;}
    //ipv-800
    .ipv-800bg{background:$ipv-800;}
    .ipv-800tx{color:$ipv-800;}
     //ipv-900
     .ipv-900bg{background:$ipv-900;}
     .ipv-900tx{color:$ipv-900;}

     //gradientes
     .ipv-curv-peqbg{background: $ipv-curva-p;}
     .ipv-curv-peqtx{color: $ipv-curva-p;}
     .ipv-curv-gdbg{background:$ipv-curva-g;}
     .ipv-curv-gdtx{color:$ipv-curva-g;}
    
    //est   
     .estbg{background:$est;}
     .esttx{color:$est;}
    //est100
     .est-100bg{background:$est-100;}
     .est-100tx{color:$est-100;}
    //est200
     .est-200bg{background:$est-200;}
     .est-200tx{color:$est-200;}
    //est400
     .est-400bg{background:$est-400;}
     .est-400tx{color:$est-400;}
    //est600
     .est-600bg{background:$est-600;}
     .est-600tx{color:$est-600;}
    //est-800
     .est-800bg{background:$est-800;}
     .est-800tx{color:$est-800;}
    //est-900
     .est-900bg{background:$est-900;}
     .est-900tx{color:$est-900;}
    
    

   //fin   
    .finbg{background:$fin;}
    .fintx{color:$fin;}
   //fin100
    .fin-100bg{background:$fin-100;}
    .fin-100tx{color:$fin-100;}
   //fin200
    .fin-200bg{background:$fin-200;}
    .fin-200tx{color:$fin-200;}
   //fin400
    .fin-400bg{background:$fin-400;}
    .fin-400tx{color:$fin-400;}
   //fin600
    .fin-600bg{background:$fin-600;}
    .fin-600tx{color:$fin-600;}
   //fin-800
    .fin-800bg{background:$fin-800;}
    .fin-800tx{color:$fin-800;}
   //fin-900
    .fin-900bg{background:$fin-900;}
    .fin-900tx{color:$fin-900;}
   
    
    //shc   
     .shcbg{background:$shc;}
     .shctx{color:$shc;}
    //shc100
     .shc-100bg{background:$shc-100;}
     .shc-100tx{color:$shc-100;}
    //shc200
     .shc-200bg{background:$shc-200;}
     .shc-200tx{color:$shc-200;}
    //shc400
     .shc-400bg{background:$shc-400;}
     .shc-400tx{color:$shc-400;}
    //shc600
     .shc-600bg{background:$shc-600;}
     .shc-600tx{color:$shc-600;}
    //shc-800
     .shc-800bg{background:$shc-800;}
     .shc-800tx{color:$shc-800;}
    //shc-900
     .shc-900bg{background:$shc-900;}
     .shc-900tx{color:$shc-900;}

   //fontes illimitar
    .i-h1{
    font-family: 'Aller';
    font-size: 6rem;
    font-weight: 300;
    line-height: 6rem;
    letter-spacing: -.01562em;
    }
    .i-h2{
    font-family: 'Aller';
    font-size: 3.75rem;
    font-weight: 300;
    line-height: 3.75rem;
    letter-spacing: -.00833em;
    }
    .i-h3{
    font-family: 'Aller';
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.125rem;
    letter-spacing: normal;
    }
    .i-h4{
    font-family: 'Aller';
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.00735em;
    }
    .i-h5{
    font-family: 'Aller';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: normal;
    }
    .i-h6{
    font-family: 'Aller';
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: .0125em;
    }
    .i-subtitle1{
    font-family: 'SF Pro Display';
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: .0125em;
    }
    .i-subtitle2{
    font-family: 'SF Pro Display';
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.375rem;
    letter-spacing: .00714em;
    }
    .i-body1{
    font-family: 'SF Pro Display';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: .03125em;
    }
    .i-body2{
    font-family: 'SF Pro Display';
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: .01786em;
    }
    .i-caption{
    font-family: 'SF Pro Display';
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: .03333em;
    }
    .i-overline{
    font-family: 'SF Pro Display';
    font-size: .75rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: .16667em;
    }
     