// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

//Paleta do sistema
$primary: #1379df;
$secondary: #5cadff;
$accent: #0060bf;
$light:#f5f9ff;
$dark: #121314;

$positive: #21ba45;
$negative: #c10015;
$info: #0060bf;
$warning: #f2c037;

//Paleta de cores
//IPV Paleta Azul - llimitar | produto | venda : Aplicada em materiais, sistemas e recursos que estejam relacionados à marca da empresa e à gestão de produtos e vendas. 
$ipv:#1379DF;
$ipv-100:#F5F9FF;
$ipv-200:#C9E4FF;
$ipv-400:#5CADFF;
$ipv-600:#0060BF;
$ipv-800:#0F5499;
$ipv-900:#121314;

//EST paleta laranja - Estoque: Aplicada em materiais, sistemas e recursos que estejam relacionados à gestão de estoque 
$est:#F59019;
$est-100:#FFFAF5;
$est-200:#FFE6C9;
$est-400:#F5AC19;
$est-600:#F57B00;
$est-800:#D86801;
$est-900:#141312;

//fin verde teal - Financeiro: Aplicada em materiais, sistemas e recursos que estejam relacionados à gestão financeira
$fin:#12B27D;
$fin-100:#F5FFFC;
$fin-200:#CCFFEE;
$fin-400:#00F0A0;
$fin-600:#00B295;
$fin-800:#007850;
$fin-900:#121413;

// shc - verde - Software house | Consultoria: Aplicada em materiais que estejam relacionados aos serviços da software house e de consultoria 
$shc:#42C920;
$shc-100:#F7FFF5;
$shc-200:#B8FFCA;
$shc-400:#00FF41;
$shc-600:#008F11;
$shc-800:#006600;
$shc-900:#121412;