// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

//Paleta do sistema
$primary: #1379df;
$secondary: #5cadff;
$accent: #0060bf;
$light:#f5f9ff;
$dark: #121314;

$positive: #21ba45;
$negative: #c10015;
$warning: #f2c037;
$info: #0060bf;

//Paleta do illimitar
//ipv - illimitar | produto | venda : Aplicada em materiais, sistemas e recursos que estejam relacionados à marca da empresa e à gestão de produtos e vendas.
$ipv:#1379DF;
$ipv-100:#F5F9FF;
$ipv-200:#C9E4FF;
$ipv-400:#5CADFF;
$ipv-600:#0060BF;
$ipv-800:#0F5499;
$ipv-900:#121314;

//gradientes
$ipv-curva-p:linear-gradient(270deg, #1379DF 0.01%, #5CADFF 100.01%);
$ipv-curva-g:linear-gradient(82.61deg, #5C9DFF 3.18%, #1363DF 97.94%);

//est - Estoque: Aplicada em materiais, sistemas e recursos que estejam relacionados à gestão de estoque
$est:#F59019;
$est-100:#FFFAF5;
$est-200:#FFE6C9;
$est-400:#F5AC19;
$est-600:#F57B00;
$est-800:#D86801;
$est-900:#141312;

//fin - Financeiro: Aplicada em materiais, sistemas e recursos que estejam relacionados à gestão financeira
$fin:#12B27D;
$fin-100:#F5FFFC;
$fin-200:#CCFFEE;
$fin-400:#00F0A0;
$fin-600:#00B295;
$fin-800:#007850;
$fin-900:#121413;

//shc- Software house | Consultoria: Aplicada em materiais que estejam relacionados aos serviços da software house e de consultoria
$shc:#42C920;
$shc-100:#F7FFF5;
$shc-200:#B8FFCA;
$shc-400:#00FF41;
$shc-600:#008F11;
$shc-800:#006600;
$shc-900:#121412;



//variaveis de fontes
@font-face {
    font-family: 'Aller';
    src: url('Aller-Bold.woff2') format('woff2'),
        url('Aller-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aller Display';
    src: url('AllerDisplay.woff2') format('woff2'),
        url('AllerDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aller';
    src: url('src/assets/fontes/Aller-BoldItalic.woff2') format('woff2'),
        url('src/assets/fontes/Aller-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aller';
    src: url('src/assets/fontes/Aller.woff2') format('woff2'),
        url('src/assets/fontes/Aller.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aller';
    src: url('src/assets/fontes/Aller-LightItalic.woff2') format('woff2'),
        url('src/assets/fontes/Aller-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aller';
    src: url('src/assets/fontes/Aller-Italic.woff2') format('woff2'),
        url('src/assets/fontes/Aller-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aller';
    src: url('src/assets/fontes/Aller-Light.woff2') format('woff2'),
        url('src/assets/fontes/Aller-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('src/assets/fontes/SFProDisplay-BlackItalic.woff2') format('woff2'),
        url('src/assets/fontes/SFProDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('src/assets/fontes/SFProDisplay-Bold.woff2') format('woff2'),
        url('src/assets/fontes/SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('src/assets/fontes/SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('src/assets/fontes/SFProDisplay-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('src/assets/fontes/SFProDisplay-LightItalic.woff2') format('woff2'),
        url('src/assets/fontes/SFProDisplay-LightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('src/assets/fontes/SFProDisplay-Regular.woff2') format('woff2'),
        url('src/assets/fontes/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('src/assets/fontes/SFProDisplay-Medium.woff2') format('woff2'),
        url('src/assets/fontes/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('src/assets/fontes/SFProDisplay-UltralightItalic.woff2') format('woff2'),
        url('src/assets/fontes/SFProDisplay-UltralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('src/assets/fontes/SFProDisplay-ThinItalic.woff2') format('woff2'),
        url('src/assets/fontes/SFProDisplay-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('src/assets/fontes/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('src/assets/fontes/SFProDisplay-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

